body{
    margin: 0%;
    padding: 0%;
}

div.message{
    border: 1px black solid;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 5%;
    /* background-color: hotpink; */
    width: 300px;
    height: 250px;
    display: grid;
    grid-template-areas:
    "ids ids"
    "username nada"
    "content content"
    "tags tags"
    "reply adminbuttons";
	grid-template-rows: 1fr 1fr 50fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;	
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

p.tag{
    font-size: 12px;
}

.tags{
    grid-area: tags;
    display: flex;
    flex-direction: row;
}

form.message-post{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.m{
    font-family: 'Indie Flower', cursive;
	margin:0;
	margin-left: 5%;
	display:flex;
    flex-direction: row;
}
.essential{
	margin-left: 2%;
}

h3.ids{
	grid-area: ids;
	
}

h4.usn{
	grid-area: username;
	
}

p.cnt{
	grid-area: content;
}

form.adminbutton{
	grid-area: adminbuttons;
}

form.reply{
	grid-area: reply;
}

.settings{
    display: flex;
    flex-direction: column;
}

.settings * {

    display: flex;
    flex-direction: column;
}

textarea.post-box{
    background-color: white;
}